@font-face {
    font-family: 'Mononoki';
    font-style: normal;
    font-weight: 400;
    src: local('Mononoki Regular'), local('Mononoki-Regular'), url(fonts/MononokiNerdFontPropo-Regular.woff2) format('woff2');
    font-display: swap;
  }

:root{
    --glob-font-family: 'Mononoki','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    --glob-colour-light: whitesmoke; 
    --glob-colour-dark: rgb(49, 36, 29);  
}  

html,body{
    background-image: url(images/BackGroundImg.avif);
    height: 100%;
    padding: 0;
    margin: 0;
}

.mainContainer{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin:0;
}

.leftSide{
    flex: 1;
    font-family: var(--glob-font-family);
    color: var(--glob-colour-light);
}

.rightSide{
    flex: 2;
    min-width: 300px;
    max-width: 600px;
    width: 100vw;
    min-height: 95vh;
    background-color: var(--glob-colour-dark);
    opacity: 60%;
    font-family: var(--glob-font-family);
    color: var(--glob-colour-light);
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 15px;
    margin:0;
}

.logobanner{
    position: absolute;
    top: 20px;
    left: 20px;
}

.logobanner>img{
    width: 50px;
    height: 50px;
    margin: 0;
}

.logobanner>p{
    text-align: center;
    margin: 0;
}

.referrer{
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: smaller;
}

.mainContent{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
    flex: 1;
    gap: 10px;
}

.questionContainer{
    margin-top: 20px;
    width: 250px;
    height: 20px;
}
legend{
    width: min(100%,550px);
}
.questionContainer>input{
    width: 220px;
}

button{
    margin-top: 50px;
    width: 250px;
    font-family: var(--glob-font-family);
}

.intro{
    flex:1;
    font-weight: bold;
}

.mainContent>p{
    height: 5rem;
}

a{
    color: var(--glob-colour-light);
}


input:required:invalid:not(:placeholder-shown) {
    border-color: crimson;
}
